body{
    background-color: #FCEDD9;
}

/* Fonts */

@font-face {
    font-family: Grotesk-Bold;
    src: url(fonts/NeueHaasDisplayBold.ttf);
}

@font-face {
    font-family: Grotesk-Light;
    src: url(fonts/NeueHaasDisplayLight.ttf);
}

@font-face {
    font-family: Grotesk-Light-Italic;
    src: url(fonts/NeueHaasDisplayLightItalic.ttf);
}

@font-face {
    font-family: Grotesk-Bold-Italic;
    src: url(fonts/NeueHaasDisplayBoldItalic.ttf);
}

/* 

Meno Semi-bold Italic
font-family: meno-banner,serif;
font-weight: 600;
font-style: italic;

Meno Light Italic
font-family: meno-banner,serif;
font-weight: 300;
font-style: italic;

Colors:
Green - #59846c
Black - #161413
Cream - #FCEDD9

*/

.body-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    position: relative;
}

.logo{
    position: fixed;
    font-family: Grotesk-Bold;
    color: #59846c;
    font-size: 3rem;
    top: 5%;
    left: 3%;
}

/* .menu{
    /* display: flex; */
    /* position: fixed;
    right: 7.5%;
    top: 5%; */
    /* flex-direction: row;
    justify-content: space-between; */
    /* z-index: 10000; */
/* } */

.menu a{
    text-decoration: none;
    font-family: Grotesk-Light;
    color: #59846c;
    font-size: 1rem;
}

.header{
    font-family: Grotesk-Bold;
    font-size: 11.5rem;
    padding-left: 10%;
    padding-right: 5%;
}

.header p span{
    color: #59846c;
    font-family: meno-banner,serif;
    font-weight: 600;
    font-style: italic;
}

.company-info{
    padding-top: 7.5%;
}

.goals-title{
    font-family: Grotesk-Bold;
    font-size: 9rem;
}

.goals{
    position: absolute;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    width: 100%;
    padding-top: 3%;
}

.goal-1{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 2;
}

.goal-2{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

.goal-3{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
}

.goal-1, .goal-2, .goal-3{
    font-family: Grotesk-Light;
    font-size: 8rem;
    color: #59846c;
}

.goal-number{
    font-family: meno-banner,serif;
    font-weight: 600;
    font-style: italic;
    font-size: 2rem;
    color: #161413;
}

.meno-italics{
    font-size: 5rem;
    font-family: meno-banner,serif;
    font-weight: 600;
    font-style: italic;
    color: #59846c;
}

.goal-title{
    transition: ease 2s;
}

.goal-title:hover{
    letter-spacing: .2rem;
    cursor: pointer;
}

.goal-description{
    font-size: 1.5rem;
}

.goal-description{
    width: 40%;
    display: none;
    transition: ease 5s;
}

.goal-title:hover + .goal-description{
    display: block;
}

.recipe-submission{
    padding-top: 40%;
    padding-left: 10%;
}

.submission-title{
    font-family: Grotesk-Bold;
    color: #161413;
    font-size: 8rem;
    width: 50%;
}

.submission-button{
    padding-top: 1%;
}

button{
    border-radius: 50px;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.5rem;
    font-family: Grotesk-Light;
    background-color:#59846c;
    color: #FCEDD9;
    border: none;
}

button:hover{
    border-color: #59846c;
    background-color: #59846c;
    color: #FCEDD9;
    cursor: pointer;
}



.copyright{
    padding-top: 10%;
    font-family: Grotesk-Light;
    font-size: 1.2rem;
    color: #59846c;
    padding-bottom: 2%;
}

@media screen and (max-width: 500px) {
    
/* .menu{
    right: 10%;
    top: 6%;
} */

.logo{
    font-size: 2rem;
    left: 3%;
    top: 5%;
}


.header{
    font-size: 4rem;
    width: 85%;
    padding-left: 5%;
    padding-top: 12.5%;
    padding-right: 5%;
}

.goals{
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 5%;
}

.goals-title{
    font-size: 4rem;
    padding-left: 5%;
}

.goal-number{
    font-size: 1rem;
}

.goal-1, .goal-2, .goal-3{
    font-size: 2.5rem;
}

.goal-description{
    display: block;
    width: 95%;
    font-size: 1rem;
}

.meno-italics{
    font-size: 2rem
}

.submission-title{
    font-size: 3.5rem;
    width: 100%;
}

.recipe-submission{
    padding-top: 150%;
    padding-bottom: 10%;
}


button{
    font-size: .75rem;
    padding-top: 2%;
    padding-bottom: 2%;
    padding-left: 2.5%;
    padding-right: 2.5%;
}

.copyright{
    font-size: .8rem;
}

}